
# Note we depend on NODE_ENV being set to dictate which of the env variables below get loaded at runtime.
# See README for more details.

# Application Port - express server listens on this port (default 3000).
PORT=3001

# Postgres. Replace these if you'd perfer to run a local
# postgres instead of Docker
POSTGRES_DATABASE='postgres'
POSTGRES_HOST='pg'
POSTGRES_USERNAME='postgres'
POSTGRES_PASSWORD=''
